.container {
    padding: 15px 15px 5px 15px;
    min-width: 300px;
}
.container.compact {
    max-width: 750px;
}
input[name="generation"] {
    width: 60px;
}
textarea.form-control {
    height: 34px;
}
.table tbody {
    cursor: pointer;
}
.hover-only {
    visibility: hidden;
    opacity: 0.5;
}
tr:hover .hover-only {
    visibility: visible;
}
tr.success .hover-only {
    visibility: visible;
    opacity: 1;
}
.panel-title-tall {
    padding-top: 6px;
    padding-bottom: 6px;
}
