.container {
    padding: 15px 15px 5px 15px;
    min-width: 300px;
}
.container.compact {
    max-width: 750px;
}
input[name="generation"] {
    width: 60px;
}
textarea.form-control {
    height: 34px;
}
.table {
    border: 1px solid #ddd;
}
.table tbody {
    cursor: pointer;
}
th.fixed, td.fixed {
    width: 100px;
    text-align: center;
}
.hover-only {
    visibility: hidden;
}
tr:hover .hover-only {
    visibility: visible;
}
