body {
	background: #efefef;
}
.container {
	padding: 20px 20px 5px 20px;
	min-width: 300px;
}
.confirm-buttons {
	text-align: center;
}
.control-label {
	text-align: right;
}
.control-spacing {
	padding-top: 8px;
}
input[name="generation"] {
	width: 60px;
}
