<!DOCTYPE html>
<html lang="en" ng-app="options" ng-csp>
<head>
  <title>Hashword Options</title>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="hashword.css"/>
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="lib/sha3.js"></script>
  <script type="text/javascript" src="lib/tld.js"></script>
  <script type="text/javascript" src="hashword.js"></script>
  <script type="text/javascript" src="sitesettings.js"></script>
  <script type="text/javascript" src="options.js"></script>
</head>
<body>
  <div class="container" ng-controller="OptionsCtrl">
    <h3><img src="images/icon38.png"/> Hashword Options</h3>
    <div class="row">
      <div ng-class="{ 'col-md-7 col-lg-8': editing, 'col-md-12': !editing }">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th style="width: 40%">Domain</th>
              <th class="fixed">Length</th>
              <th class="fixed">Symbols</th>
              <th class="fixed">Generation</th>
              <th>Notes</th>
              <th style="width: 40px"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(domain, settings) in allSettings"
                ng-class="{ 'success': editing.domain == domain }"
                ng-click="edit(domain)">
              <td>{{ domain }}</td>
              <td class="fixed">{{ settings.pwLength }}</td>
              <td class="fixed">
                <span class="glyphicon glyphicon-ok" ng-show="settings.symbols"></span>
              </td>
              <td class="fixed">{{ settings.generation }}</td>
              <td>{{ settings.notes }}</td>
              <td>
                <span class="glyphicon glyphicon-pencil hover-only"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="ng-cloak col-md-5 col-lg-4" ng-show="editing">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Settings for {{ editing.domain }}</h4>
          </div>
          <form class="panel-body form-horizontal" ng-submit="saveEditing()">
            <div hw-settings-editor="editing.settings" notes></div>
            <div class="form-group">
              <div class="col-xs-5 text-left">
                <button type="button" class="btn btn-danger" ng-click="deleteEditing()">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
              <div class="col-xs-7 text-right">
                <button type="button" class="btn btn-default" ng-click="cancelEditing()">Cancel</button>
                <button type="submit" class="btn btn-primary">OK</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
