<!DOCTYPE html>
<html lang="en" ng-app="popup" ng-csp>
<head>
  <title>Enter Your Master Password</title>
  <link rel="stylesheet" type="text/css" href="lib/angular-csp.css"/>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="hashword.css"/>
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="lib/sha3.js"></script>
  <script type="text/javascript" src="lib/tld.js"></script>
  <script type="text/javascript" src="hashword.js"></script>
  <script type="text/javascript" src="common.js"></script>
  <script type="text/javascript" src="sitesettings.js"></script>
  <script type="text/javascript" src="popup.js"></script>
</head>
<body>
  <div class="container ng-cloak" ng-controller="PopupCtrl">
    <p class="text-danger" ng-show="popup.error">{{ popup.error }}</p>
    <form class="form-horizontal" ng-submit="insertPassword()" ng-hide="popup.error">
      <div class="form-group">
        <div class="col-xs-12">
          <input type="password" name="password" class="form-control" placeholder="Master Password"
                 ng-model="popup.password"/>
        </div>
      </div>
      <div class="form-group" ng-if="hasSubdomain()">
        <div class="controls col-xs-12">
          <div class="radio">
            <label>
              <input type="radio" name="domain" value="{{ domainInfo.tld }}"
                     ng-model="popup.domain" ng-change="changeDomain()"/>
              Any {{ domainInfo.tld }} domain
              </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="domain" value="{{ domainInfo.name }}"
                     ng-model="popup.domain" ng-change="changeDomain()"/>
              {{ domainInfo.name }} only
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <a href="#" class="col-xs-12" ng-click="popup.showSettings = !popup.showSettings">
          <small>Settings for {{ popup.domain }}</small>
        </a>
      </div>
      <div class="well well-sm" ng-show="popup.showSettings">
        <div hw-settings-editor="settings" notes></div>
      </div>
      <div class="form-group text-center">
        <button type="button" class="btn btn-default" ng-click="closeWindow()">Cancel</button>
        <button type="submit" class="btn"
                ng-class="settings.createDate == null ? 'btn-success' : 'btn-primary'">
          {{ settings.createDate == null ? 'Create and Insert' : 'Insert' }}
        </button>
      </div>
    </form>
    <small class="col-xs-12 text-center" ng-show="settings.accessDate != null">
      <em class="text-muted">Last used {{ settings.accessDate | hwDate }}</em>
    </small>
  </div>
</body>
</html>
