<div>
  <div class="form-group">
    <label class="control-label col-xs-5 col-sm-3 col-md-3">Password Length</label>
    <div class="col-xs-7 col-sm-9">
      <div class="form-inline">
        <label class="radio-inline">
          <input type="radio" name="pwLength" value="8" ng-model="settings.pwLength"/> 8
        </label>
        <label class="radio-inline">
          <input type="radio" name="pwLength" value="16" ng-model="settings.pwLength"/> 16
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="symbols" ng-model="settings.symbols"/> Use symbols
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-5 col-sm-3">Generation</label>
    <div class="col-xs-7 col-sm-9">
      <input type="number" class="form-control" name="generation" ng-model="settings.generation"/>
    </div>
  </div>
  <div class="form-group" ng-if="notes != null">
    <label class="control-label col-sm-3">Notes</label>
    <div class="col-sm-9">
      <textarea class="form-control" name="notes" ng-model="settings.notes"></textarea>
    </div>
  </div>
</div>
