<div>
  <div class="form-group">
    <label class="control-label">Password Length</label>
    <div>
      <div class="controls form-inline">
        <label class="radio-inline">
          <input type="radio" name="pwLength" value="8" ng-model="settings.pwLength"/> 8
        </label>
        <label class="radio-inline">
          <input type="radio" name="pwLength" value="16" ng-model="settings.pwLength"/> 16
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="symbols" ng-model="settings.symbols"/> Use symbols
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Generation</label>
    <input type="number" class="form-control" name="generation" ng-model="settings.generation"/>
  </div>
  <div class="form-group">
    <label class="control-label">Notes</label>
    <textarea class="form-control" name="notes" ng-model="settings.notes"></textarea>
  </div>
</div>
