<!DOCTYPE html>
<html lang="en" ng-app="site-list" ng-csp>
<head>
  <title>Hashword Site List</title>
  <link rel="stylesheet" type="text/css" href="lib/angular-csp.css"/>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="hashword.css"/>
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="lib/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="lib/sha3.js"></script>
  <script type="text/javascript" src="lib/tld.js"></script>
  <script type="text/javascript" src="hashword.js"></script>
  <script type="text/javascript" src="rules.js"></script>
  <script type="text/javascript" src="common.js"></script>
  <script type="text/javascript" src="clipboard.js"></script>
  <script type="text/javascript" src="site-settings.js"></script>
  <script type="text/javascript" src="site-list.js"></script>
</head>
<body>
  <div class="container" ng-controller="SiteListController">
    <div class="row">
      <div class="col-md-7">
        <h3><img src="images/icon38.png"/> Hashword Site List</h3>
        <small class="pull-right" style="margin-top: -25px">
          <a href hw-import>Import</a> &bull; <a href hw-export>Export</a>
        </small>
      </div>
    </div>
    <div class="row ng-cloak">
      <div class="col-md-5 col-md-push-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title panel-title-tall" ng-if="!editing">Site Settings</h4>
            <h4 class="panel-title panel-title-tall" ng-if="editing">Settings for {{ editing.domain }}</h4>
          </div>
          <div class="panel-body" ng-if="!editing">
            <em class="text-muted">Click on a site to view or edit its settings.</em>
          </div>
          <form class="panel-body form-horizontal" ng-if="editing" ng-submit="saveEditing()">
            <div hw-settings-editor="editing.settings" notes></div>
            <div class="form-group">
              <div class="col-xs-4 text-left">
                <button type="button" class="btn btn-danger" ng-click="deleteEditing()">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="copyPassword()">
                  <span class="glyphicon glyphicon-copy"></span>
                </button>
              </div>
              <div class="col-xs-8 text-right">
                <button type="button" class="btn btn-default" ng-click="cancelEditing()">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </div>
          </form>
          <clipboard api="clipboardApi"></clipboard>
        </div>
      </div>
      <div class="col-md-7 col-md-pull-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <h4 class="panel-title panel-title-tall col-xs-7">Sites</h4>
              <form class="col-xs-5">
                <input type="text" class="form-control input-sm" placeholder="Search"
                       ng-model="search.query"/>
              </form>
            </div>
          </div>
          <div class="panel-body" ng-if="!(allSites | filter:search.query).length">No sites.</div>
          <table class="table table-hover" ng-if="(allSites | filter:search.query).length">
            <thead>
              <tr>
                <th hw-sort-trigger="domain">Domain</th>
                <th hw-sort-trigger="settings.createDate">Created</th>
                <th hw-sort-trigger="settings.accessDate">Last Used</th>
                <th style="width: 40px"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="site in allSites | filter:search.query | orderBy:predicate:reverse track by site.domain"
                  ng-class="{ 'success': editing.domain == site.domain }"
                  ng-click="edit(site)">
                <td>{{ site.domain }}<br/><small class="text-muted">{{ site.settings.notes }}</small></td>
                <td>{{ site.settings.createDate | hwDate }}</td>
                <td>{{ site.settings.accessDate | hwDate }}</td>
                <td>
                  <span class="glyphicon glyphicon-pencil hover-only"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script type="text/ng-template" id="sort-trigger.html">
      <a href ng-click="setSort()" ng-transclude></a>
      <span class="glyphicon"
            ng-class="{ 'glyphicon-arrow-up': !$parent.reverse, 'glyphicon-arrow-down': $parent.reverse }"
            ng-show="$parent.predicate[0] == sortBy">
      </span>
    </script>
  </div>

  <script type="text/ng-template" id="password-modal.html">
    <form ng-submit="$close(password)">
      <div class="modal-body">
        <input type="password" name="password" class="form-control"
               placeholder="Master Password" autofocus
               ng-model="password"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-copy"></span> Copy
        </button>
      </div>
    </form>
  </script>
</body>
</html>
