<form name="passwordForm" class="form-horizontal" ng-submit="$ctrl.onSubmit()">
  <div class="form-group">
    <div class="col-xs-12">
      <input type="password" name="password" class="form-control"
             placeholder="Master Password" title="Master Password" autofocus required
             ng-model="state.password"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12" ng-switch="service.hasSubdomain()">
      <select name="domain" class="form-control popup-domain"
              ng-switch-when="true"
              ng-model="state.domain" ng-change="service.changeDomain(state.domain)">
        <option value="{{ service.domainInfo.tld }}">{{ service.domainInfo.tld }}</option>
        <option value="{{ service.domainInfo.name }}">{{ service.domainInfo.name }}</option>
      </select>
      <div class="popup-domain" ng-switch-default>{{ service.activeDomain }}</div>
      <button type="button" class="btn btn-default pull-right"
              title="Settings for {{ service.activeDomain }}"
              ng-click="service.showSettings()">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <div class="small ellipsis" title="{{ service.settings.notes }}"
          ng-if="service.settings.notes">
        {{ service.settings.notes }}
      </div>
      <div class="small ellipsis text-muted" ng-if="service.settings.accessDate != null">
        <em>Last used {{ service.settings.accessDate | hwDate }}</em>
      </div>
    </div>
  </div>
  <div class="form-group popup-footer" ng-if="service.mode == PopupModes.READY">
    <hr/>
    <div class="col-xs-12 text-center">
      <button type="button" class="btn btn-default" title="Copy password to clipboard"
              ng-if="service.foundPasswordField"
              ng-disabled="!passwordForm.$valid"
              ng-click="$ctrl.copyPassword(true)">
        <span class="glyphicon glyphicon-copy"></span>
      </button>
      <button type="submit" class="btn"
              ng-disabled="!passwordForm.$valid"
              ng-class="service.settings.createDate == null ? 'btn-success' : 'btn-primary'">
        <span ng-if="service.foundPasswordField">
          {{ service.settings.createDate == null ? 'Add and Insert' : 'Insert' }}
        </span>
        <span ng-if="!service.foundPasswordField">
          <span class="glyphicon glyphicon-copy"></span>
          {{ service.settings.createDate == null ? 'Add and Copy' : 'Copy' }}
        </span>
      </button>
    </div>
  </div>
</form>
<clipboard api="clipboardApi"></clipboard>
