label {
    font-weight: normal;
}
.container {
    padding: 15px 15px 5px 15px;
}
.popup .container {
    /* The popup needs to be a more-or-less fixed size to work around a chrome bug:
     * https://bugs.chromium.org/p/chromium/issues/detail?id=428044
     */
    width: 300px;
    min-height: 225px;
}
.container.compact {
    max-width: 750px;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.popup-domain {
    display: inline-block;
    width: 224px;
    padding: 6px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.popup-title {
    padding: 10px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
.popup-title .logo {
    width: 19px;
    height: 19px;
    margin-top: -1px;
}
.popup-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.popup-footer hr {
    margin-top: 0;
    margin-bottom: 16px;
}
input[name="generation"] {
    width: 60px;
}
textarea.form-control {
    height: 34px;
}
.table tbody {
    cursor: pointer;
}
.hover-only {
    visibility: hidden;
    opacity: 0.5;
}
tr:hover .hover-only {
    visibility: visible;
}
tr.success .hover-only {
    visibility: visible;
    opacity: 1;
}
.panel-title-tall {
    padding-top: 6px;
    padding-bottom: 6px;
}
.invisible {
    visibility: hidden;
}
clipboard textarea {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    border: none;
    resize: none;
    outline: none;
}
