label {
    font-weight: normal;
}
.container {
    padding: 15px 15px 5px 15px;
    min-width: 300px;
}
.container.compact {
    max-width: 750px;
}
.popup-domain-label {
    display: inline-block;
    max-width: 220px;
    padding: 6px 0 3px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.popup-title {
    padding: 10px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
.popup-title .logo {
    width: 19px;
    height: 19px;
    margin-top: -1px;
}
input[name="generation"] {
    width: 60px;
}
textarea.form-control {
    height: 34px;
}
.table tbody {
    cursor: pointer;
}
.hover-only {
    visibility: hidden;
    opacity: 0.5;
}
tr:hover .hover-only {
    visibility: visible;
}
tr.success .hover-only {
    visibility: visible;
    opacity: 1;
}
.panel-title-tall {
    padding-top: 6px;
    padding-bottom: 6px;
}
.invisible {
    visibility: hidden;
}
clipboard textarea {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    border: none;
    resize: none;
    outline: none;
}
